.form__groupFile input {
    color: transparent;
    position: relative;
    height: 45.6px;
}
.form__groupFile input::before {
    position: absolute;
    content: "Chọn hình ảnh";
    width: 100%;
    text-align: center;
    color: #182132;
    font-weight: 600;
    z-index: 1;
    border-radius: 6px;
    border: 1px solid #182132;
    font-size: 14px;
    padding: 12px 16px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
.form__groupFile button {
    border: 1px solid red;
}
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
    display: none;
}
.formError {
    border-color: #dc362e !important;
    background-color: #df91912b;
}