.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
    align-items: center;
}

.pagination a {
    padding: 0.2em 0.6em;
    border-radius: 6px;
    margin: 0 0.2em;
    text-decoration: none;
    color: #344769;
    cursor: pointer;
}
.pagination a:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.pagination .active a {
    line-height: 1.375;
    letter-spacing: 0.025em;
    background-size: 150% 150%;
    background-position: 25% 25%;
    background-color: transparent;
    border: 1px solid;
    color: #c026d3;
    border-color: #c026d3 !important;
    position: relative;
}