@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:wght@200;600&family=Roboto:ital,wght@1,500&family=Work+Sans:wght@300;500;900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Nunito Sans', sans-serif !important;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
body::-webkit-scrollbar {
    width: 10px; /* Chiều rộng thanh cuộn */
}

body::-webkit-scrollbar-track {
    background-color: inherit; /* Màu nền của track */
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px; /* Góc tròn cho thumb */
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
:root {
    --trans-bounce: 0.22s cubic-bezier(0.23, 1, 0.320, 1);
    --trans-bounce2: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    --trans-bounce3: 2s cubic-bezier(0.23, 1, 0.320, 1);
}
.container__full {
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}
.header {
    width: 100%;
    height: auto;
    background-color: transparent !important;
    backdrop-filter: blur(55px) !important;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: var(--trans-bounce3);
}
.header__top {
    width: 100%;
    height: 30px;
    background-color: #111729;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 10px 50px;
}
.header__top--item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__top--item ion-icon {
    font-size: 18px;
    color: #ffb86c;
}
.header__top--item-link {
    background-image: linear-gradient(to right top, white,#eddbc8);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    font-size: 14px;
}
.header__main {
    position: relative;
    width: 100%;
    height: 90px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__main--boxLogo {
    width: auto;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.header__main--boxLogo a {
    width: auto !important;
    height: 100% !important;
    display: flex;
}
.img__logo--header {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__main--menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.header__main--menu a {
    font-size: 20px;
    font-weight: 900;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__main--menu a:hover {
    color: orangered;
    transition: var(--trans-bounce);
}

.discover-youBox {
    width: auto;
    height: 100%;
    overflow: hidden;
}
.discover-youBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.space {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #a5a5a5;
}

.header__main--left {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.box__search {
    width: 280px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    transition: var(--trans-bounce);
}
.button__search {
    width: 30px;
    height: 40px;
}
.button__search ion-icon {
    font-size: 18px;
}
.search__products {
    width: calc(100% - 30px);
    height: 100%;
    border: none;
}
.box__search:focus-within {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.box__cart {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    position: relative;
}
#box__cart--icon {
    font-size: 30px;
    cursor: pointer;
}
.quantityCart {
    position: absolute;
    top: 13px;
    left: 25%;
    width: 20px;
    height: 20px;
    border-radius: 100rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}
.opacity1 {
    opacity: 1;
    visibility: visible;
}


/* menu drop 1 */
.drop__menu1 {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #111729;
    top: 101%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--trans-bounce);
    z-index: 1;
}
.drop__menu:hover {
    opacity: 1;
    visibility: visible;
}
.button__drop--menu1:hover + .drop__menu1 {
    opacity: 1;
    visibility: visible;
}
/* style for drop */
.drop__menu1--this {
    position: absolute;
    top: -25px;
    font-size: 40px;
    left: 370px;
    color: #111729;
}
.drop__menu--style1 {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 20px 100px;
}
.drop__menu--styel1-item {
    width: 260px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.5;
    transition: var(--trans-bounce);
}
.drop__menu--styel1-item:hover {
    opacity: 1;
}
.item__box--img {
    width: 260px;
    height: 260px;
    overflow: hidden;
}
.style1-item--title {
    width: 260px;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 20px;
}
.drop__menu1--title {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #808080;
    padding: 50px 0;
    gap: 5px;
    font-style: italic;
}
.highlight {
    color: white;
}
/* drop menu 1 end */

/* style menu drop 2 start */
.drop__menu2 {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #111729;
    top: 101%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--trans-bounce);
    z-index: 999 !important;
}
.drop__menu2--this {
    left: 500px;
}
.button__drop--menu2:hover + .drop__menu2 {
     opacity: 1;
    visibility: visible;
}
/* content dorp menu 2 */
.drop__menu2--boxContent {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 40px 250px 0 250px; 
}
.content__drop-menu2__left {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    border-right: 2px dashed #a5a5a5;
    gap: 40px;
}
.content__drop-menu2__right {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
}
.drop__menu2--content-shoe,
.drop__menu2--content-fashion {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.content__menu2--title {
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.drop__menu2--ul-title {
    font-size: 18px;
    color: #e0dbdb;
    font-weight: 600;
}
.drop__menu2--ul {
    display: flex;
    flex-direction: column;
    gap: 12px !important;
    justify-content: flex-start;
    align-items: flex-start !important;
}
.drop__menu2--ul a {
    color: #a5a5a5;
    font-weight: 100;
    font-size: 17px;
    line-height: 20px;
}
.drop__menu2--linked {
    color: white !important;
    font-size: 16px !important;
}
.drop__menu3--this {
    left: 600px;
}
/* style menu drop 2 end */
/* all drop menu start */
.show_drop_menu {
    transition: var(--trans-bounce2);
}
.button__drop--menu:hover .show_drop_menu {
    transform: rotate(180deg);
}
/* all drop menu end */

.header__slide {
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.header__slide--box {
    max-width: 760px !important;
    min-height: 50px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
}
.header__slide--item {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    grid-area:auto;
    line-height:22.8571px;
    text-align:center;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #555555;
}
.slick-track {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;;
}
.slick-arrow {
    color: #555555;
}


/* main start */
.main {
    width: 100%;
    min-height: 2000px;
    display: flex;
    flex-direction: column;
    padding-top: 170px;
}
.main__banner {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.main__banner .slick-slide {
    margin: 0 !important;
}
.main__banner--boxImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.main__banner--boxImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-dots {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
    list-style: none;
}
.slick-dots li {
    width: 50px;
    height: 6px;
    background-color: #d3d3d3;
    font-size: 0;
    cursor: pointer;
}
.slick-dots .slick-active {
    background-color: orangered !important;
}
.main__content1 {
    width: 100%;
    height: auto;
    padding: 0 160px;
    display: flex;
    flex-direction: column;
}
.main__content1--top {
    width: 100%;
    height: auto;
    display: flex;
    gap: 40px;
    padding: 80px 0 0 0;
}
.content1--top-item {
    width: calc(100%/2);
    height: auto;
    display: flex;
    flex-direction: column;
}
.content1--top-item a {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    transition: var(--trans-bounce);
}
.content1--top-item a:hover {
    color: orangered;
}
.box__img {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}
.img__banner2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--trans-bounce2);
}
.box__img:hover img {
    scale: 1.1;
}
.content1--desc {
    pointer-events: none;
    padding-top: 10px;
    line-height: 25px;
    font-size: 17px;
}
.main__content1--bottom {
    width: 100%;
    height: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    /* background-color: #111729; */
    overflow: hidden;
}
.main__content--title {
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
.main__content1--bottom---items {
    width: 100%;
    height: auto;
    display: flex;
    gap: 25px;
}
.main__content1--bottom---item {
    width: calc(100%/3);
    height: 270px;
    position: relative;
}
.main__content1--bottom---item .item-bgr {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    /* opacity: 0.9; */
}
.main__content1--bottom---item .item-bgr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-list {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.422);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 30px;
    gap: 15px;
}
.item-list a {
    color: white;
}
.item-list a:hover {
    color: orangered;
}
.item-list__title {
    display: inline-block;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 700;
}
.item-list_name {
    font-size: 16px;
    font-weight: 600;
}

.main__content1--bottom---item:nth-child(1) {
    transform: translateX(-800px);
    opacity: 0;
    visibility: hidden;
    transition: var(--trans-bounce3);
}
.main__content1--bottom---item:nth-child(2) {
    transform: translateY(800px);
    opacity: 0;
    visibility: hidden;
    transition: var(--trans-bounce3);
}
.main__content1--bottom---item:nth-child(3) {
    transform: translateX(800px);
    opacity: 0;
    visibility: hidden;
    transition: var(--trans-bounce3);
}
.item-lazyActive {
    transform: translateY(0) !important;
    transform: translateX(0) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.pd-top80 {
    padding-top: 80px !important;
} 
.container__products {
    width: 100%;
    height: auto;
    padding: 80px 0 0 0 !important;
}
.container__products--title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
}
.container__products--title2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}
.container__products--title2::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    border-radius: 5px;
    background-color: #111729;
    bottom: 0;
    font-size: 15px;
    font-weight: 400;
}
.box__showProducts {
    width: 100%;
    height: auto;
    padding-top: 80px;
    position: relative;
}
.box__showProducts--top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box__showProducts--top-name {
    font-size: 30px;
    font-weight: 800;
}
.box__showProducts--top-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: orangered;
}
.box__showProducts--items {
    width: 100%;
    height: auto;
    padding-top: 40px;
    display: flex;
    overflow: hidden;
}
.box__showProducts--items .slick-list {
    padding-bottom: 50px;
    margin-inline: -12.5px;
}
.box__showProducts .slick-dots {
    position: absolute;
    padding: 0;
    bottom: 0;
}
.box__showProducts .slick-dots li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.main__banner .slick-dots {
    position: absolute;
    bottom: 125px;
    height: 5px;
    z-index: 100;
    display: flex !important;
    align-items: center;
    gap: 2px;
}
.main__banner .slick-dots li {
    height: 100%;
    width: 50px;
    border-radius: 0;
}
.main__banner .slick-dots button {
    width: 100%;
    height: 100%;
}
.main__banner .slick-dots button::before {
    display: none;
}
/* .box__showProducts--items .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    background-color: #afdbdd;
    color: orangered;
}
.box__showProducts--items .slick-prev {
    position: absolute;
    z-index: 20;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 30px;
    bottom: 0;
}
.box__showProducts--items .slick-next {
    position: absolute;
    z-index: 5;
    right: 10px;
    top: 50%;
    bottom: 0;
    right: 40px;
} */
.slick-initialized .slick-slide {
    margin: 0 12.5px;
}
.product__item {
    width: auto;
    height: auto;
}
.product__link {
    width: 100%;
    height: auto;
}
.container__product--item {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product__item--boxImg {
    width: 100%;
    max-height: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.product__item--boxImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product__item--boxImg:hover .product__item--boxAction {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 888;
}
.product__item--boxAction {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.464);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
    visibility: visible;
    transition: var(--trans-bounce);
    cursor: pointer;
}
.product__item--boxAction ion-icon {
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
    transition: var(--trans-bounce);
}
.love {
    background-color: #dc362e !important;
    color: white !important;
    cursor: pointer;
}
.product__item--content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
    padding: 5px;
}
.name__product {
    width: 100%;
    height: auto;
    font-weight: 700;
    font-size: 15px;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.price__product {
    font-size: 14px;
    font-weight: 600;
}
.product__content--bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.views__product {
    font-size: 14px;
    font-weight: 300;
}
.evaluate {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.evaluate span {
    font-size: 13px;
    font-size: 14px;
    font-weight: 300;
}
.evaluate ion-icon {
    color: orange;
    font-size: 15px;
}



.box__banner2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 80px;
}
.banner2__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* article */
.container__article {
    display: flex;
    flex-direction: row;
    padding: 80px 160px;
    justify-content: center;
    gap: 100px;
    overflow-x: hidden;
}
.container__article--title {
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
.container__article--box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container__article--title2 {
    width: 65%;
    height: auto;
    color: black;
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ananas_highlight {
    background-image: linear-gradient(to right top,#fc6c8f,#ffb86c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.article-line {
    width: 200px;
    height: 3px;
    border-radius: 20px;
    background-color: #808080;
}
.container__article--content {
    font-size: 16px;
    color: #000;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.container__article--boxButton {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
}
.button__discover {
    width: 150px;
    height: 45px;
    background-image: linear-gradient(to right top,#fc6c8f,#ffb86c);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.button__contact {
    width: 100px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.30), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
}

.container__article--items {
    width: 100%;
    height: auto;
    display: flex;
    gap: 25px;
}
.container__article--item {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.article--item__boxImg {
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.article--item__boxImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article--item__title {
    width: 100%;
    height: auto;
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    transition: var(--trans-bounce);
    padding: 20px 0;
}
.article--item__title:hover {
    color: orangered;
}
.article--item__content {
    font-size: 16px;
    color: #000;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.article--item__content-more {
    font-size: 17px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-style: italic;
    color: orangered;
}

.container__article--box:nth-child(1) {
    transform: translateX(-1000%);
    transition: var(--trans-bounce3);
}
.container__article--box:nth-child(2) {
    transform: translateX(1000%);
    transition: var(--trans-bounce3);
}

footer {
    width: 100%;
    height: 70vh;
    background-color: #111729;
    padding: 80px 160px;
    display: flex;
    gap: 50px;
    position: relative;
}
.footer__left {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__left--boxImg {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.footer__left--boxImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__left a {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right top,#fc6c8f,#ffb86c);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    padding: 10px;
    border: 2px solid #fc6c8f;
    border-radius: 30px;
}
.footer__right {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer__right--top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.footer__right--ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__right--ul a {
    color: #cccccc;
    font-size: 16px;
    text-decoration: none;
    transition: var(--trans-bounce);
}
.footer__right--ul a:hover {
    color: orangered;
    font-size: 16px;
    text-decoration: none;
}
.footer__right--li-title {
    width: 100%;
    height: auto;
    color: white !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 30px !important;
    transition: var(--trans-bounce) !important;
}
.footer__right--bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.icon_link {
    display: flex;
    gap: 10px;
}
.form__email--footer {
    width: 90%;
    position: relative;
}
.input__email--footer {
    width: 100%;
    height: 45px;
    border-radius: 50px;
    padding: 0 50px 0 20px;
    background-color: white;
    border: none;
}
.btn__submit--footer {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 100rem;
    right: 0;
    border: none;
    background-image: linear-gradient(to right top,#fc6c8f,#ffb86c);
    cursor: pointer;
}
.btn__submit--footer ion-icon {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.boxImg__logo--footer {
    width: 30%;
    height: auto;
    overflow: hidden;
}
.copyright {
    width: 100%;
    color: #555555;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 80px;
    text-align: center;
}
.menu-hover {
    color: orangered;
}
.rotate {
    transform: rotate(180deg);
}

.likeProducts {
    background-color: #ea3869 !important;
    color: white !important;
}