@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:wght@200;600&family=Roboto:ital,wght@1,500&family=Work+Sans:wght@300;500;900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Nunito Sans', sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    width: 100vw;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    background-color: #fbfafb;
    /* padding: 20px 20px; */
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px; /* Chiều rộng thanh cuộn */
}
body::-webkit-scrollbar-track {
    background-color: inherit; /* Màu nền của track */
}
body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px; /* Góc tròn cho thumb */
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
:root {
    --trans-bounce: 0.22s cubic-bezier(0.23, 1, 0.320, 1);
    --trans-bounce2: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    --trans-bounce3: 2s cubic-bezier(0.23, 1, 0.320, 1);
    --color1: #AECCCF;
    --color2: #6C9CA4;
    --box-shadow1: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    --box-shadow2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    --box-shadow3: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    --box-shadow4:0px 2px 3px 0px rgba(0, 0, 0, 0.30), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
    --box-shadow5: 0px 4px 4px 0px rgba(0, 0, 0, 0.30), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}
.main__user {
  padding: 200px 160px 40px 160px !important;
}
.main__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content__orders--bottom {
  min-height: 0 !important;
  max-height: 564px !important;
  overflow-y: auto !important;
  box-shadow: var(--box-shadow1) !important;
}
.content__orders--bottom::-webkit-scrollbar {
  width: 5px; /* Chiều rộng thanh cuộn */
}
.content__orders--bottom::-webkit-scrollbar-track {
  background-color: #eee; /* Màu nền của track */
}
.content__orders--bottom::-webkit-scrollbar-thumb {
  background-color: orangered;
  border-radius: 5px; /* Góc tròn cho thumb */
}
tr th {
  font-size: 18px;
  color: #6C9CA4;
}
.main__action {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.main__action .button__back {
  display: flex;
  align-items: center;
  gap: 10px;
  color: orangered;
}
.waitForConfirmation {
  color: #2a7be6;
}
.delivering {
  color: #41d15e;
}